<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>xuqijin110</title>
    <script src="data.js"></script>
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/chat.css">

    <style>
        /* APPfeedback图片上传的样式 */

        .mui-table-view-cell .imgviewer li {
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 1.8rem;
        }

        body {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-overflow-scrolling: touch;
            /* 解决ios滑动不流畅问题 */
        }

        .mui-scroll-wrapper {
            padding-bottom: 60px;
        }

        .mask-box {
            position: fixed;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            display: none;
        }
    </style>
</head>

<body>
    <div id="pullrefresh" class="mui-scroll-wrapper mui-content bg-gray">
        <div class="mui-scroll message">
            <ul></ul>
        </div>
    </div>
    <footer class="mui-bar mui-bar-tab">
        <div class="action">
            <textarea id="textarea" class="margin-l-26"></textarea>
            <span id="menu-btn" class="mui-icon mui-icon-plus margin-h-26"></span>
            <button id="test-send" type="button" class="mui-btn mui-btn-primary">发送</button>
        </div>
        <div id="room-container">
            <!--class="menu-showed" -->

            <div id="menu-wrapper" class="menu-wrapper hidden">
                <div id="menu" class="menu">

                    <div class="room-panel-message-input">
                        <div class="room-panel-send-file">
                            <div class="room-panel-item">
                                <label title="图片" for="sendPic2" class="room-panel-singlePic-label">
                                    <input type="file" name="file" accept="image/*" id="sendPic2" class="room-panel-singlePic" multiple="multiple">
                                    <p>图片</p>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- <form id='myForm'>
                <input type='text' name='usrName' value='kevin'/>
                <input type='file' id='fileId'/>
             </form> -->
    </footer>
    <div id="menu-backdrop" class="menu-backdrop"></div>
    <div id="mask" class="mask-box"></div>

    <!-- 时间 -->
    <script id="room-panel-time" type="text/html">
        <p class="time">  
            {{if time_show==='year'}}
            <span>{{ ctime_ms |dateFormat 'yyyy-MM-dd hh:mm'}}</span>
            {{else if time_show==='month'}}
            <span>{{ ctime_ms |dateFormat 'MM-dd hh:mm'}}</span>
            {{else if time_show==='day'}}
            <span>{{ ctime_ms |dateFormat 'dd hh:mm'}}</span>
            {{else if time_show==='the day before'}}
            <span>前天 {{ ctime_ms |dateFormat 'hh:mm'}}</span>
            {{else if time_show==='yesterday'}}
            <span>昨天 {{ ctime_ms |dateFormat 'hh:mm'}}</span>
            {{else if time_show==='today'}}
            <span>{{ ctime_ms |dateFormat 'hh:mm'}}</span>
            {{/if}}
        </p>
    </script>
    <script id="test" type="text/html">
        {{each msgs i index}}
                {{if i.content && global.username != i.content.from_id && i.msg_type !== 5}}
                    <li>
                        {{if i.content.msg_type === 'text' && (!i.content.msg_body.extras || !i.content.msg_body.extras.businessCard)}}
                            {{include 'room-panel-time' i}}
                            <div>
                                <div class="avatar-box">
                                    <img class="avatar" src="{{i.content.avatarUrl?i.content.avatarUrl:'logo.png'}}" />
                                </div>   
                                <div class="text"><p>{{i.content.msg_body.text}}</p></div>
                            </div>
                        {{else if i.content.msg_type === 'image' &&(!i.content.msg_body.extras || (i.content.msg_body.extras && !content.msg_body.extras.kLargeEmoticon))}}
                            {{include 'room-panel-time' i}}
                            <div>
                                <div class="avatar-box">
                                    <img class="avatar" src="{{i.content.avatarUrl ? i.content.avatarUrl : 'logo.png'}}" />
                                </div> 
                                <div class="image {{!i.content.msg_body.loading?'img-loading':''}}"
                                style="width:{{i.content.msg_body.width > 219 || i.content.msg_body.height > 300?
                                (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 3 + 'rem' :i.content.msg_body.width/i.content.msg_body.height*3 + 'rem')
                                :i.content.msg_body.width/37.5/2+'rem'}};
                                height:{{i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? 
                                    (i.content.msg_body.width/i.content.msg_body.height < 219/300 ? 300 + 'px' : i.content.msg_body.height/i.content.msg_body.width * 219/37.5/2 + 'rem') 
                                    : i.content.msg_body.height/37.5/2+'rem'}}">
                                    <img (load)="imgLoaded(i)" title="点击查看大图" data-msg_id="{{i.msg_id}}" class="chat-panel-message-img" src="{{i.content.msg_body.media_url}}" alt="">
                                </div>
                            </div>
                        {{/if}}
                    </li>
                {{else}}
                    <li>
                        {{if i.content.msg_type === 'text' && (!i.content.msg_body.extras || !i.content.msg_body.extras.businessCard)}}
                            {{include 'room-panel-time' i}}
                            <div class="self">
                                <div class="avatar-box">
                                    <img class="avatar" src="{{i.content.avatarUrl?i.content.avatarUrl:'logo.png'}}" />
                                </div> 
                                <div class="text"><p>{{i.content.msg_body.text}}</p></div>
                            </div>
                        
                        {{else if i.content.msg_type === 'image' &&(!i.content.msg_body.extras || (i.content.msg_body.extras && !content.msg_body.extras.kLargeEmoticon))}}
                            {{include 'room-panel-time' i}}
                            <div class="self">
                                <div class="avatar-box">
                                    <img class="avatar" src="{{i.content.avatarUrl ? i.content.avatarUrl : 'logo.png'}}" />
                                </div> 
                                <div class="image {{!i.content.msg_body.loading?'img-loading':''}}"
                                style="width:{{i.content.msg_body.width > 219 || i.content.msg_body.height > 300?
                                (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 3 + 'rem' :i.content.msg_body.width/i.content.msg_body.height*3 + 'rem')
                                :i.content.msg_body.width/37.5/2+'rem'}};
                                height:{{i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? 
                                    (i.content.msg_body.width/i.content.msg_body.height < 219/300 ?3+'rem' : i.content.msg_body.height/i.content.msg_body.width * 219/37.5/2 + 'rem') 
                                    : i.content.msg_body.height/37.5/2+'rem'}}">
                                    <img (load)="imgLoaded(i)" title="点击查看大图" data-msg_id="{{i.msg_id}}" class="chat-panel-message-img" src="{{i.content.msg_body.media_url}}" alt="">
                                </div>
                            </div>
                        {{/if}}
                    </li>
                {{/if}}
            {{/each}}
    </script>

    <!-- 别人发送的消息 -->
    <script id="recivemsg_text" type="text/html">
        <li>
            {{if content.msg_type === 'text' && (!content.msg_body.extras || !content.msg_body.extras.businessCard)}}
                {{include 'room-panel-time' i}}
                <div >
                    <div class="avatar-box">
                        <img class="avatar" src="{{content.avatarUrl ? content.avatarUrl : 'logo.png'}}" />
                    </div> 
                    <div class="text"><p>{{content.msg_body.text}}</p></div>
                </div>    
            {{/if}}
        </li>
    </script>

    <script id="recivemsg_img" type="text/html">
        {{if !content.msg_body.extras || (content.msg_body.extras && !content.msg_body.extras.kLargeEmoticon)}}
            {{include 'room-panel-time' i}}
            <div>
                <div class="avatar-box">
                    <img class="avatar" src="{{avatarUrl ? avatarUrl : 'logo.png'}}" />
                </div> 
                <div class="image {{!content.msg_body.loading?'img-loading':''}}"
                style="width:{{content.msg_body.width > 219 || content.msg_body.height > 300?
                (content.msg_body.width/content.msg_body.height > 219/300 ? 3 + 'rem' :content.msg_body.width/content.msg_body.height * 300 + 'px')
                :content.msg_body.width/37.5/2+'rem'}}">
                    <img (load)="imgLoaded(i)" title="点击查看大图" (click)="imageViewerShow(i)" class="chat-panel-message-img" src="{{content.msg_body.media_url}}" alt="">
                </div>
            </div>
        {{/if}}
    </script>
    <!-- 自己发送的消息 -->
    <script id="send_singlemsg_text" type="text/html">
        <li>
            {{if (content.msg_type &&content.msg_type === 'text') && (!content.msg_body.extras || !content.msg_body.extras.businessCard)}}
                {{include 'room-panel-time' i}}
                <div class="self">
                    <div class="avatar-box">
                        <img class="avatar" src="{{avatarUrl ? avatarUrl : 'logo.png'}}" />
                    </div> 
                    <div class="text"><p>{{content.msg_body.text}}</p></div>
                </div>  
            {{/if}}
        </li>
    </script>
    <script id="send_singlemsg_img" type="text/html">
        <li>
            {{if !content.msg_body.extras || (content.msg_body.extras && !content.msg_body.extras.kLargeEmoticon)}}
                {{include 'room-panel-time' i}}
                <div class="self">
                    <div class="avatar-box">
                        <img class="avatar" src="{{avatarUrl ? avatarUrl : 'logo.png'}}" />
                    </div> 
                    <div class="image {{!content.msg_body.loading?'img-loading':''}}"
                    style="width:{{content.msg_body.width > 219 || content.msg_body.height > 300?
                    (content.msg_body.width/content.msg_body.height > 219/300 ? 3 + 'rem' :content.msg_body.width/content.msg_body.height * 300 + 'px')
                    :content.msg_body.width/37.5/2+'rem'}};
                    height:{{content.msg_body.width > 219 || content.msg_body.height > 300 ? 
                    (content.msg_body.width/content.msg_body.height < 219/300 ? 300 + 'px' : content.msg_body.height/content.msg_body.width * 219 + 'px') 
                    : content.msg_body.height/37.5/2+'rem'}}">
                        <img (load)="imgLoaded(i)" title="点击查看大图" (click)="imageViewerShow(i)" class="chat-panel-message-img" src="{{content.msg_body.media_url}}" alt="">
                    </div>
                </div>
            {{/if}}
        </li>
    </script>
    <script src="data.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/template.js"></script>


    <script src="js/mui.min.js"></script>
    <script src="js/mui.pullToRefresh.js"></script>
    <script src="js/mui.pullToRefresh.material.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jmessage-sdk-web.2.6.0.min.js"></script>
    <script src="chatJIM/services/api.service.js"></script>
    <script src="chatJIM/util.js"></script>
    <script src="chatJIM/filter.js"></script>
    <script src="chatJIM/chat-reducer.js"></script>
    <script src="js/my.js"></script>

    <script>
        //遮罩禁止滑动
        var handler = function (event) {
            event.preventDefault();
            event.stopPropagation();
        };

        var arr = [1, 2, 3, 4, 5]; 
        for (var i = 0; i < arr.length; i++) { 
            if (i == 4) break; 
            console.log(i) 
        }
        // 底部操作菜单
        var menuWrapper = document.getElementById("menu-wrapper");
        var menu = document.getElementById("menu");
        var menuWrapperClassList = menuWrapper.classList;
        var backdrop = document.getElementById("menu-backdrop");

        backdrop.addEventListener('touchstart', toggleMenu);

        mui('.action').on('tap', '#menu-btn', function () {
            toggleMenu();
            hideSoftKeyboard();
            document.querySelector('#menu-wrapper').addEventListener("touchmove", handler, false);//禁止页面滑动
        });
        //下沉菜单中的点击事件
        mui('#menu').on('tap', 'a', function () {
            toggleMenu();
        });
        mui('.action').on('tap', 'textarea', function () {
            if (menuWrapperClassList.contains('mui-active')) {
                toggleMenuHide();
            }
        });

        // 文字输入框
        $('#textarea').focus(function () {
            $('#mask').show();
        });
        // clickMask
        document.querySelector('#mask').addEventListener('touchstart', hideSoftKeyboard);
        function hideSoftKeyboard() {
            $('#textarea').blur();
            $('#mask').hide();
        }
        // $('#test-send').click(function(){
        //     $('#textarea').focus();
        //     $('#mask').show();
        // })

        var busying = false;

        function toggleMenu() {
            if (busying) {
                return;
            }
            busying = true;
            if (menuWrapperClassList.contains('mui-active')) {
                toggleMenuHide();
            } else {
                toggleMenuShow();
            }
            setTimeout(function () {
                busying = false;
            }, 500);
        }

        function toggleMenuHide() {
            document.body.classList.remove('menu-open');
            menuWrapper.className = 'menu-wrapper fade-out-down animated';
            menu.className = 'menu bounce-out-down animated';
            setTimeout(function () {
                backdrop.style.opacity = 0;
                menuWrapper.classList.add('hidden');
                $('#room-container').removeClass('menu-showed');
                // 布局
                $('#pullrefresh').css('bottom', 0);
                mui('.mui-scroll-wrapper').scroll().reLayout();
                mui('.mui-scroll-wrapper').scroll().scrollToBottom(10);
            }, 100);
        }

        function toggleMenuShow() {
            document.body.classList.add('menu-open');
            menuWrapper.className = 'menu-wrapper fade-in-up animated mui-active';
            menu.className = 'menu bounce-in-up animated';
            backdrop.style.opacity = 1;
            $('#room-container').addClass('menu-showed');
            // 布局
            $('#pullrefresh').css('bottom', 7.23 + 'rem');
            mui('.mui-scroll-wrapper').scroll().reLayout();
            mui('.mui-scroll-wrapper').scroll().scrollToBottom(10);
        }
    </script>
</body>

</html>